body, html {
    margin: 0; padding: 0;
    width: 100%; height: 100%;
    background: #000; overflow: hidden;
    font-family: 'Courier Prime', monospace;
}

#escena-3d {
    width: 100vw; height: 100vh;
    perspective: 450px;
    display: flex; align-items: center; justify-content: center;
}

#universo {
    position: relative; width: 100%; height: 100%;
    transform-style: preserve-3d;
}

.elemento-volador {
    position: absolute;
    top: 50%; left: 50%;
    transform-style: preserve-3d;
    animation: viaje-estelar 4s linear forwards;
    white-space: nowrap;
    pointer-events: none;
}

.frase-pro {
    font-weight: 700;
    color: white;
    text-shadow: 0 0 12px var(--color-aura), 0 0 25px var(--color-aura);
    text-transform: uppercase;
    font-size: 20px;
}

.foto-pro {
    width: 130px;
    border-radius: 12px;
    border: 2px solid white;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

/* EFECTO DE ESQUIVE: Los elementos se abren al final */
@keyframes viaje-estelar {
    0% { 
        transform: translate3d(calc(var(--x) * 0.1), calc(var(--y) * 0.1), -1200px) scale(0); 
        opacity: 0; 
    }
    15% { opacity: 1; }
    80% { opacity: 1; }
    100% { 
        /* Al llegar al final, se mueven a su posición X e Y completa (lejos del centro) */
        transform: translate3d(var(--x), var(--y), 600px) scale(3.5); 
        opacity: 0; 
    }
}

.linea-velocidad {
    position: absolute;
    top: 50%; left: 50%;
    width: 2px; height: 350px;
    background: linear-gradient(to top, transparent, #fff, transparent);
    animation: estela 0.9s linear infinite;
}

@keyframes estela {
    0% { transform: rotate(var(--ang)) translateY(0) translateZ(-1000px); opacity: 0; }
    50% { opacity: 1; }
    100% { transform: rotate(var(--ang)) translateY(1300px) translateZ(500px); opacity: 0; }
}

#capa-inicio {
    position: fixed; top: 0; left: 0; width: 100%; height: 100%;
    background: black; z-index: 100; display: flex; flex-direction: column;
    align-items: center; justify-content: center; color: #ff00de; cursor: pointer;
}
